<ul class="footer_nav">
  <h4>Get Social</h4>
  <li><a href="/Email"><%= image_tag "icons/32x32/email.png" , :alt =>"Email" %></a></li>
  <li><a href="/Facebook"><%= image_tag "icons/32x32/facebook.png" , :alt =>"Facebook"%></a></li>
  <li><a href="/Twitter"><%= image_tag "icons/32x32/twitter.png" , :alt =>"Twitter"%></a></li> 
</ul>