<div class="left_page_list">
  <ul>
    <h3>Pages</h3>
    <li><a href="/">Home</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Privacy">Privacy</a></li>
    <li><a href="/Login">Login</a></li>
  </ul>
</div>