<% if !@sports.nil? && !@region.nil? %>
  <div class="left_sport_list">
    <ul>
      <h3>Select Sport</h3>
      <% @sports.each do |sport| %>
      <li>       
        <%= link_to sport.name, "/"+@region.name+"/"+sport.name+"/" %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>