<% if !logged_in? && false %>
  <div class="left_advertisment">
  <div class="advertisment_content">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4406472656891849";
      /* STV Block */
      google_ad_slot = "1953494486";
      google_ad_width = 200;
      google_ad_height = 200;
      //-->
    </script>
    <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>
<% end %>