<% if !@regions.nil? %>
  <div class="left_region_list">
    <ul>
      <h3>Select Region</h3>
      <% @regions.each do |region| %>
      <li>
        <%= link_to region.name, "/"+region.name+"/" %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>