<ul class="breadcrumb">
  <li>
    <a href="/">SPORT ON TV</a>
    <span class="divider">/</span>
  </li>
  <% if !@breadcrumb.nil? %>
    <li class="active">
    <%= @breadcrumb %>
  </li>
  <% elsif !@region.nil? && @sport.nil? %>
  <li class="active">
    <%= @region.region_name %>
  </li>
  <% elsif !@sport.nil? %>
  <li>
    <%= link_to @region.region_name, "/"+@region.region_name+"/" %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @sport.sport_name %>
  </li>
  <% end %>
</ul>