<div class="row centre mobile">
  <p><%= image_tag("apple-touch-icon-72x72.png") %></p>
  <h1>SPORT ON TV</h1>
  <p>EVERY SPORT. EVERY CHANNEL.</p>
  <p>The mobile site is currently down for an upgrade.  Please use the main site.</p>
  <p><%= link_to "Main Site", root_url(:host => "www.sportontv.com.au"), :class => 'btn btn-large btn-block btn-info' %></p>
</div>

