<p>Sport On Television provides sports guide information for the following regions:</p>
<ul>
<% @regions.each do |region| %>
  <li><%= link_to region.name, "/"+region.name+"/" %></li>
<% end %>
</ul>