<p>Sport On Television provides sports guide information for the following regions:</p>
<% @regions.each do |region| %>
    <%= link_to region.name, "/"+region.name+"/", :class => 'btn btn-large btn-block btn-primary' %>
<% end %>

