<% if !@regions.nil? %>
<ul class="footer_nav">
  <li><h4>Select Region</h4></li>
  <% @regions.each do |region| %>
  <li><%= link_to region.name, URI.escape("/"+region.name+"/") %></li>
  <% end %>
</ul>
<% end %>