<footer>
  <div class="row upper_footer">
    <div class="span12">
      <%= render "shared/footer_page_list" %>
      <%= render "shared/footer_region_list" %>
    </div>
  </div>
  <div class="row lower_footer">
    <div class="span12">
      <% if logged_in? %>
        <%= debug params %>
      <% end %> 
    </div>
  </div>
</footer>
