<div class="left_page_list">
  <ul>
    <li><h3>Pages</h3></li>
    <li><a href="/">Home</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Privacy">Privacy</a></li>
  </ul>
</div>